


.navbar-default, .colortheme {
    background-color: white !important;
    box-shadow: 0 0 5px #bbb;
}
.navbar-nav {
    float: right;
}
.navbar-nav>li {
    display: inline-flex;
}

.loginuser{
    color: green!important;
   font-weight: bold;
}

.image {
    width: 270px;
    height: 125px;
    margin: 0 auto;
}
        .description {
    padding: 8px 0 3px 16px;
    text-align: left;
    border-top: solid 1px rgba(116,116,116,.09);
    display: block;
    text-align: center;
}
        .price{

            color: #b6b6b6;
    font-size: .8em;
    padding: 2px 0px;
    line-height: 16px;
        text-align: center;
        }
        .pricelabel {
    color: #ed5aa0;
    margin-right: 3px;
    margin-left: 3px;
    padding-bottom: 6px;
}
        h2{
            text-transform: uppercase;
    color: #4b4b4b;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 16px;
    font-weight: normal;
    font-size: .9em;
    text-align: center;
        }
       img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
a {
    cursor: pointer;
}

/*login*/
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
/*login*/

.change{
    float: right;
    font-size:small;
    text-transform: uppercase;
    display:none;
}
.activetab{
    background-color: #16b594!important;
    color: #fff!important;
}
.addressdiv{
    border: solid 1px #e6e6e6;
    background: #f9f9f9;
    width: 255px;
}
.addrbody{
    padding: 20px;
    text-align: center;
}
.addressdiv div{
  
    margin: 10px 0 15px;
    border-bottom: #e6e6e6 solid 1px;
    text-transform: capitalize;
   
}
