<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/admin.css">
    <script src="scripts/admin.js"></script>
    
</head>
<body ng-app="EcomApp" ng-controller="AdminCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#" ng-click="links(1)">Category</a></li>
                    <li><a href="#" ng-click="links(3)">Items</a></li>
                    <li><a href="#"  ng-click="linking()">Linking</a></li>
                    <li><a href="#" ng-click="links(4)">Attribute Group</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#" ng-click="linking()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
            
    <div ng-show="show==1">

        <form class="form-horizontal" role="form" name="CategoryForm" id="CategoryForm">
            <div class="form-group" ng-repeat="x in catdata">
                <label class="control-label col-sm-2" for="x.Type">{{x.Name}}:</label>
                <div class="col-sm-10" ng-if="x.Type!='dropdown'">

                    <input id="cat{{x.Id}}" type="{{x.Type}}" name="x.Type" class="form-control"   placeholder="Enter {{x.Name}}" required>
                </div>
                <div class="col-sm-6" ng-if="x.Type=='dropdown'">

                    <select id="cat{{x.Id}}" type="{{x.Type}}" name="x.Type" class="form-control">
                        <option value="{{y.Id}}" ng-repeat="y in attrdata">{{y.Name}}</option>
                    </select>

                </div>
                </div>
          
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="createcategory()">Submit</button>
                    </div>
                </div>
</form>


</div>
    <div ng-show="show==2">
        <ul>
            <li ng-repeat="x in Maincatdata | filter:{Flag: 0}">
                <a id="{{x.Id}}-{{x.Id}}-{{1}}" name="{{x.Attribute}}" href="#" ng-click="Getdata($event);">{{x.Name}}</a>
                <div class="infodiv" id="info{{x.Id}}-{{x.Id}}-{{1}}"></div>
            </li>
        </ul>
        </div>

    <div ng-show="show==3">

        <form id="ItemForm" class="form-horizontal" role="form" name="myForm">
            <div class="form-group" ng-repeat="x in itemdata">
                <label name="{{x.Name}}" class="control-label col-sm-2" for="x.Type">{{x.Name}}:</label>
                <div class="col-sm-10" ng-if="x.Type!='dropdown'">

                    <input id="pro{{x.Id}}" type="{{x.Type}}" name="Item-{{x.Name}}" class="form-control" placeholder="Enter {{x.Name}}" required>
                </div>
                <div class="col-sm-6" ng-if="x.Type=='dropdown'">

                    <select id="attrgroup" type="{{x.Type}}" name="x.Type" class="form-control">
                        <option value="{{y.List}}" data-id="{{y.Id}}" ng-repeat="y in attrdata">{{y.Name}}</option>
                    </select>

                </div>
                <div class="col-sm-4" ng-if="x.Type=='dropdown'">

                    <button type="button" name="Selectattr" class="btn btn-default" id="{{x.Id}}" ng-click="addattr($event)">Add</button>
                </div>
            </div>
            <div id="dynamicattr">
                
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="createitem()">Submit</button>
                </div>
            </div>
        </form>


    </div>
    <div ng-show="show==4">

        <form class="form-horizontal" role="form" name="myForm">
            <div class="form-group">
                
                    <label class="control-label col-sm-2">Group Name:</label>
                    <div class="col-sm-offset-2 col-sm-10">
                        <input id="groupname" type="text" class="form-control" placeholder="Enter Name" required>
                    </div>
                </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Attributes:</label>
                <div class="col-sm-offset-2 col-sm-6">
                    <select id="attrgroup" class="form-control">
                        <option value="{{y.Id}}" ng-repeat="y in attrdata">{{y.Name}}</option>
                    </select>
                </div>
                <div class="col-sm-offset-2 col-sm-4">
                    <button type="submit" class="btn btn-default" ng-click="addattr()">Add</button>
                </div>
                </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <select id="attrlist" multiple="multiple" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="createattrgroup()">Submit</button>
                </div>
            </div>
            
            
            
        </form>
      </div>

   
</body>
</html>