<!DOCTYPE html>
<html ng-app="homepage" ng-controller="HomeCtrl">

<head>

<title>PHPRO</title>
<!-- load bootstrap and friends -->

    <link href="css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="css/ecom.css">
    <link rel="stylesheet" href="css/jquery.growl.css">
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/jquery.growl.js"></script>
<!-- load angularjs and the seperate route module -->

    <script src="scripts/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
   
<!-- load up our app -->
<script src="scripts/security.js"></script>
<script src="app/app.js"></script>
   
   
   
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
<a class="navbar-brand" href="#/">PHPRO.ORG</a>
</div>
<div class="collapse navbar-collapse collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li ng-show="show"><a href="#login">login</a></li>
<li ng-hide="show"><a class="loginuser">{{loginuserid}}</a><a ng-click="logout($event);">logout</a></li>
<li><a href="#cart">cart</a></li>
</ul>

</div><!--/.nav-collapse -->
</div>
</div>


    


<div ng-view></div>



</body>
</html>