<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/Items.js"></script>
    <style>
        .image {
    width: 270px;
    height: 125px;
    margin: 0 auto;
}
        .description {
    padding: 8px 0 3px 16px;
    text-align: left;
    border-top: solid 1px rgba(116,116,116,.09);
    display: block;
    text-align: center;
}
        .price{

            color: #b6b6b6;
    font-size: .8em;
    padding: 2px 0px;
    line-height: 16px;
        text-align: center;
        }
        .pricelabel {
    color: #ed5aa0;
    margin-right: 3px;
    margin-left: 3px;
    padding-bottom: 6px;
}
        h2{
            text-transform: uppercase;
    color: #4b4b4b;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 16px;
    font-weight: normal;
    font-size: .9em;
    text-align: center;
        }
       img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
    </style>
</head>
<body ng-app="EcomApp" ng-controller="CategoryCtrl">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#" ng-click="login()"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
   

    <div ng-show="show==1">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="x in catdata | filter:{Flag: 0}" id="{{x.Id}}-{{x.Id}}-0" ng-click="displaychild($event);">
                    <div class="image">
                        <img  ng-src="{{x.Image}}">
                    </div>
                    <div class="description">
                        <h2> {{x.Name}}</h2>
                    </div>
                   
                </div>
            </div>
        </div>
            </div>

            <div ng-show="show==2">

                <ul>
                    <li >
                        {{ x.Name + ', ' + x.Country }}
                    </li>
                </ul>


                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="x in subcatdata" id="{{x.Id}}" ng-click="displaychild($event)">
                            <div class="image">
                                <img ng-src="{{x.Image}}">
                            </div>
                            <div class="description">
                                <h2> {{x.Name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    <div ng-show="show==3">

        <ul>
            <li>
                {{ x.Name + ', ' + x.Country }}
            </li>
        </ul>


        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="x in itemdata">
                    <div class="image">
                        <img ng-src="{{x.Image}}">
                    </div>
                    <div class="description">
                        <h2> {{x.Name}}</h2>
                    </div>
                    <div class="price">
                        Price :
                        <span class="pricelabel">{{x.Price}}</span>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div ng-show="show==4">
        <form class="form-horizontal" role="form" name="myForm" >
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="loginemail" placeholder="Enter email" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Password:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="loginpwd" placeholder="Enter password" required>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
           
</form>
        </div>
</body>
</html>