
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:50%">Item</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in cartdetail">
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="{{item_baseurl}}{{x.Image}}" alt="..." class="img-responsive" /></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{x.Name}}</h4>
                            <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </td>
                <td  data-th="Price">{{x.Price}}</td>
                <td data-th="Quantity">
                    <input  type="number"  min="1" ng-model="x.Qty" class="form-control text-center" value="{{x.Qty}}">
                </td>
                <td data-th="Subtotal" class="text-center">{{x.Price*x.Qty}}</td>
                <td class="actions" data-th="">
                    <button class="btn btn-danger btn-sm" name="{{x.Id}}" ng-click="Removetocart($event);"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>Total  {{getTotal()}}</strong></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total  {{getTotal()}}</strong></td>
                <td><a href="#checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
        </tfoot>
    </table>
</div>