<div class="container">
    <div class="panel-group" id="accordion" ng-repeat="x in addressdata">
        <div id="panel1" class="panel panel-default">
            <div class="panel-heading activetab">
                <h4 class="panel-title">
                       DELIVERY ADDRESS <a name="1" ng-click="Nextstep($event);" class="change">change Address</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="addressdiv">
                        <div class="addrbody">
                                <div>{{x.name}}</div>
                            <div> {{x.address}},{{x.city}},{{x.state}},{{x.pincode}}</div>
                                <div>{{x.mobile}}</div>
                            <a name="2" ng-click="Nextstep($event);" class="btn btn-warning"> Delivery Here <i class="fa fa-angle-right"></i></a>
</div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="panel2" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                        ORDER SUMMARY <a name="2" ng-click="Nextstep($event);"  class="change">Review Order</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">

                    <a name="3" ng-click="Nextstep($event);" class="btn btn-warning"> Continue <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div id="panel3" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                       PAYMENT METHOD
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    Total Amount : <span ng-model="totalamount">{{totalamount}}</span>
                    <a name="3" ng-click="PlaceOrder($event);" class="btn btn-warning"> Place Order <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>