
 


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"  ng-repeat="x in itemdetail" >
            <div class="image">
                <img ng-src="{{item_baseurl}}{{x.Image}}">
            </div>
            <div class="description">
                <h2> {{x.Name}}</h2>
            </div>
            <div class="price">
                Price :
                <span class="pricelabel">{{x.Price}}</span>
            </div>
            <input type="button" name="{{x.Id}}" class="form-control btn btn-register" value="Add TO CART" ng-click="Addtocart($event);">
        </div>
    </div>
</div>
       
