


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" id="{{x.Id}}" ng-repeat="x in itemdata" ng-click="Itemdetails($event);">
            <div class="image">
                <img ng-src="{{item_baseurl}}{{x.Image}}">
            </div>
            <div class="description">
                <h2> {{x.Name}}</h2>
            </div>
            <div class="price">
                Price :
                <span class="pricelabel">{{x.Price}}</span>
            </div>

        </div>
    </div>
</div>