<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4">
                            <a  class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-4">
                            <a id="register-form-link">Register</a>
                        </div>
                        <div class="col-xs-4">
                            <a id="forgot-form-link">Recover</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form"  role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" name="username" id="l_email" tabindex="1" class="form-control" placeholder="Email id" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="l_password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In" ng-click="User_login($event);">
                                        </div>
                                    </div>
                                </div>
     
                            </form>
                            <form id="register-form" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="username" id="r_username" tabindex="1" class="form-control" placeholder="Username" value="">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="r_email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="phone" id="r_mobile" tabindex="1" class="form-control" placeholder="Mobile Number" value="">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="r_password" tabindex="2" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="r_confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="address" id="r_address" tabindex="1" class="form-control" placeholder="Address" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="city" id="r_city" tabindex="1" class="form-control" placeholder="City" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="state" id="r_state" tabindex="1" class="form-control" placeholder="State" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="pincode" id="r_pincode" tabindex="1" class="form-control" placeholder="Pincode" value="">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" ng-click="User_register($event);">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="forgot-form"  role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="forgotmail" id="forgotmail" tabindex="1" class="form-control" placeholder="Email id" value="">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="forgot-submit" id="forgot-submit" tabindex="4" class="form-control btn btn-login" value="Recover Account">
                                        </div>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $('#login-form-link').click(function (e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $("#forgot-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $('#forgot-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function (e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $("#forgot-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $('#forgot-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#forgot-form-link').click(function (e) {
            $("#forgot-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $("#register-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
</script>