<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" ng-repeat="x in subcatdata" id="{{x.Id}}" ng-click="displaychild($event)">
            <div class="image">
                <img ng-src="{{cat_baseurl}}{{x.Image}}">
            </div>
            <div class="description">
                <h2> {{x.Name}}</h2>
            </div>
        </div>
    </div>
</div>